@model MemberResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<h1>ResetPassword</h1>

<form asp-action="ResetPassword" method="post">
    <div class="login-form">
        <h4 class="login-title">Forget password</h4>
        <p><span class="font-weight-bold">I am a returning customer</span></p>
        <div class="row">
            <div class="col-md-12 col-12 mb--15">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="mb-0 form-control" id="email1" placeholder="Enter you password...">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="col-md-12 col-12 mb--15">
                <label asp-for="ConfirmPassword">ConfirmPassword</label>
                <input asp-for="ConfirmPassword" class="mb-0 form-control" id="email1" placeholder="Enter you confirmpassword...">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>



            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-outlined">Login</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="Email" value="@Model.Email" >
    <input type="hidden" name="Token" value="@Model.Token">
</form>