@model MemberLoginViewModel
<form asp-action="Login">
    <div class="login-form">
        <h4 class="login-title">Returning Customer</h4>
        <p><span class="font-weight-bold">I am a returning customer</span></p>
        <div class="row">
            <div class="col-md-12 col-12 mb--15">
                <label asp-for="LoginUserName">Enter your email address here...</label>
                <input asp-for="LoginUserName" class="mb-0 form-control" id="email1" placeholder="Enter you user name here...">
                <span asp-validation-for="LoginUserName"></span>
            </div>
            <div class="col-12 mb--20">
                <label asp-for="LoginPassword">Password</label>
                <input asp-for="LoginPassword" class="mb-0 form-control" id="login-password" placeholder="Enter your password">
                <span asp-validation-for="LoginPassword"></span>
                <a asp-action="forgot">forget password</a>
            </div>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-outlined">Login</button>
            </div>
        </div>
    </div>
</form>
